.homeg {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}

.home__imageg {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

.badge {
  width: 100%;
  z-index: 1;
  margin-bottom: 0;
}

.home__rowg {
  display: flex;
  gap: 32px;
  margin: 20px;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  /* Hide scrollbar for cleaner look (optional) */
  scrollbar-width: thin;
  scrollbar-color: #ccc #f7f7f7;
}
